<ul class="tabs" id="conference-day-tabs"
  data-tabs>
  <% meetings_months.each_with_index do |month, i| %>
    <li class="tabs-title <%= "is-active" if default_month?(month) %>">
      <!-- Wrap the anchor inside a div to keep correct button styling -->
      <div>
        <a data-tabs-target="conference-day-tab-<%= i %>" href="#conference-day-tab-<%= i %>" class="button button--nomargin">
          <%== l month, format: :month_and_year %>
        </a>
      </div>
    </li>
  <% end %>
</ul>
