<tr>
  <td>
    <table class="header">
      <tbody>
        <tr>
          <td>
            <% if @custom_url_for_mail_root.present? %>
              <% url = @custom_url_for_mail_root %>
            <% else %>
              <% url = decidim.root_url(host: organization.host) %>
            <% end %>

            <%= link_to url, target: :blank do %>
              <%= image_tag asset_url(@organization.instance_prefix_path("banner-email.jpg"), host: url), alt: organization.name %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
