<tr>
  <td>
    <table class="header">
      <tbody>
        <tr>
          <td>
            <% if @custom_url_for_mail_root.present? %>
              <% url = @custom_url_for_mail_root %>
            <% else %>
              <% url = decidim.root_url(host: organization.host) %>
            <% end %>

            <%= link_to url, target: :blank do %>
              <% if degrowth? %>
                <%= image_tag asset_url("degrowth/banner-email.jpg", host: url), alt: organization.name %>
              <% else %>
                <%= image_tag asset_url("banner-email.jpg", host: url), alt: organization.name %>
              <% end %>
            <% end %>

          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
