<% if @custom_url_for_mail_root.present? %>
  <% url = @custom_url_for_mail_root %>
<% else %>
  <% url = decidim.root_url(host: organization.host) %>
<% end %>
<%= link_to url do %>
  <% if organization.logo.present? %>
    <%= image_tag organization.logo.medium.url, alt: t("logo", scope: "decidim.accessibility", organization: organization.name), style: "max-height: 50px" %>
  <% else %>
    <span><%= organization.name %></span>
  <% end %>
<% end %>
