@import "./variables";

@font-face {
  font-family: "Montserrat Regular";
  src: font-url("Montserrat-Regular.woff2") format("woff2"),
    font-url("Montserrat-Regular.woff") format("woff"),
    font-url("Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Bold";
  src: font-url("Montserrat-Bold.woff2") format("woff2"),
    font-url("Montserrat-Bold.woff") format("woff"),
    font-url("Montserrat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Montserrat Regular", sans-serif;
  background: $body-background-color;
}

.off-canvas-wrapper {
  background: $white;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Montserrat Bold", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  // text-rendering: optimizeLegibility;
  // letter-spacing: -.5px;
}
