@import "./variables";

$non-special-buttons: "";

@mixin caret-wrapped($color) {
  &::before,
  &::after {
    content: " ";
    display: inline-block;
    width: $triangle-size;
    height: $triangle-size;
    margin: 0 0.5rem;
    background: $color;
    clip-path: polygon(50% 15%, 100% 100%, 0% 100%);
  }
  &::before {
    transform: rotate(90deg);
  }
  &::after {
    transform: rotate(-90deg);
  }
}

.button {
  border-radius: 0;

  &:not([title="Search"]):not(.expanded) {
    @include caret-wrapped($primary);
  }

  &.home-section__cta {
    @include caret-wrapped($primary);
  }
  &.hero-cta {
    @include caret-wrapped($secondary);
  }

  &--sc {
    background: $black;
    color: $white;
  }
}

// Non-buttons
.sign-up-link,
.sign-in-link {
  @include caret-wrapped($primary);
}
