@import "./variables";

$non-special-buttons: "";

.button {
  border-radius: 0;

  &--sc:not([title="Search"]):not(.expanded):not(.button--social) {
    background: $black;
    color: $white;

    @include caret-wrapped($primary);

    &.hollow {
      border: none;
    }
  }

  &.home-section__cta {
    @include caret-wrapped($primary);
  }
  &.hero-cta {
    @include caret-wrapped($secondary);
  }
  &.card__button.small.button--sc {
    @include caret-wrapped($green);
  }
}

// Non-buttons

.topbar__user__login {
  .sign-in-link,
  .sign-up-link {
    background: $black;
    color: $white;
    padding: 0.5rem;
    text-transform: uppercase;
  }
}
