@import "./variables";
@import "./mixins";

.card {
  border: $border-thin;
  border-radius: 0.5px;
  padding: 4px;

  &__header {
    height: 3rem;
    width: 90%;
    text-align: center;
    display: flex;
    align-items: flex-end;
    border-bottom: $border-wide;
    margin: 0.5rem auto;
  }

  &__title {
    color: $card-link;
    font-family: "Source Sans Pro", Helvetica, Roboto, Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  &__link {
    &:hover {
      color: $card-link-hover;
    }
  }

  &__label {
    &::before {
      background-color: $white;
    }
  }

  &__footer,
  &__top {
    background-color: $white;
  }

  &__footer {
    border: none;
  }

  &__support {
    display: block;
    text-align: center;
    padding-top: 0;
    padding-bottom: 1rem;

    &__data--left {
      text-align: center;
      max-width: none;

      & > * {
        display: inline;
      }
    }
  }

  &__image {
    max-height: none;
    height: 20rem;
  }

  &-data__item {
    border: none;
  }
}
