@import "variables";

.card {
  border: 1px solid $black;
  border-radius: 0.5px;
  padding: 4px;

  &__link {
    color: $card-link;

    &:hover {
      color: $card-link-hover;
    }
  }

  &__label {
    &::before {
      background-color: $white;
    }
  }

  &__footer,
  &__top {
    @include banner-background;
  }

  &-data__item {
    border: none;
  }
}
