@import "./variables";

.section-heading {
  color: $link-color;
  background-color: $black;
  padding: 0.2rem 1rem;

  @include heading-font;

  &::before {
    content: none;
  }
}

.heading1 .page-title {
  @include title-font;
}

.mini-title {
  color: $black;
}
