@import "./variables";

.home-section {
  &.upcoming-events {
    background: $black;
    color: $white;

    .card {
      margin-bottom: 60px;

      &::after {
        content: url("/assets/triangle.svg");
        display: block;
        position: absolute;
        padding-left: 8rem;
        margin-top: -33px;
        transform: rotate(-3deg);
      }
    }
  }
}
