.button--civicrm {
  .button--social__icon {
    margin: 0;
    padding: 0.3em 0;
    .icon {
      display: inline-block !important;
      border-radius: 4px;
      height: 2.1em;
      width: 2.1em;
      padding: 1px;
      background: white;
    }
  }
}

.social-register{
  .button--social{
    text-align: center;
  }
}