@import "variables";
// @import "foundation";

.title-bar {
  padding: 1.5rem 0.5rem;
  background: $title-bar-bg;
  @include banner-background;
}

.navbar {
  background: $navbar-bg;
  @include heading-font;

  .main-nav {
    &__link {
      a {
        color: $navbar-fg;
      }
      &--active a {
        color: $navbar-fg;
        box-shadow: none;
        @include top-caret($primary);
        // @include top-circle($primary);
      }
    }

    ul > li {
      display: flex;
      align-items: end;
      justify-content: center;
    }
  }
}

.topbar {
  &__search {
    input,
    input:focus {
      background-color: $navbar-bg;
      color: $navbar-fg-hover;
    }
    input::placeholder,
    textarea::placeholder {
      color: $navbar-fg-hover;
    }
    svg {
      color: $navbar-fg-hover;
    }
  }

  &__notifications,
  &__conversations {
    .icon {
      opacity: 0.8;
    }
  }

  .dropdown.menu {
    background: black;
    padding: 0.25rem 1rem;
    margin: 0 1rem;
  }
}
