@import "./variables";
@import "./mixins";

.title-bar {
  padding: 1.5rem 0.5rem;
  background: $title-bar-bg;
  @include banner-background;
}

.navbar {
  background: $navbar-bg;
  @include heading-font;

  .main-nav {
    height: 60px;

    &__link {
      a {
        color: $navbar-fg;
        padding: 0.5em 2em;
      }
      &--active a {
        color: $navbar-fg;
        box-shadow: none;
        @include bottom-caret($primary);
      }
    }
  }
}

.topbar {
  &__search {
    input,
    input:focus {
      background-color: $navbar-bg;
      color: $navbar-fg-hover;
    }
    input::placeholder,
    textarea::placeholder {
      color: $navbar-fg-hover;
    }
    svg {
      color: $navbar-fg-hover;
    }
  }

  &__notifications,
  &__conversations {
    .icon {
      opacity: 0.8;
    }
  }

  .dropdown.menu {
    background: black;
    padding: 0.25rem 1rem;
    margin: 0 1rem;
  }
}
