@import "./variables";

@mixin body-background-image() {
  background-image: asset-url("degrowth/background.jpg");
  background-size: cover;
}

@mixin button {
  border-radius: 0;
  background-color: $link-color;
  color: $white;
  @include font-button;
}

@mixin button-hover {
  @include button;
  background-color: $success;
}

@mixin button-hollow {
  @include button;
  border-color: $link-color;
  background: none;
  color: $link-color;
}

@mixin label {
  &::before,
  &::after {
    content: none;
  }

  background: none;
  border: $border-thin;
  border-color: $link-color;
  color: $link-color;
  cursor: pointer;

  &:hover {
    background: none;
    border: $border-thin;
    border-color: $link-color;
    color: $link-color;
    cursor: pointer;
  }
}

@mixin small-screen {
  @media print, screen and (max-width: 40em) {
    @content;
  }
}

@mixin mid-screen {
  @media print, screen and (min-width: 40em) and (max-width: 64em) {
    @content;
  }
}

@mixin big-screen {
  @media print, screen and (min-width: 64em) {
    @content;
  }
}
