@import "./variables";
@import "./mixins";

.main-footer,
.mini-footer {
  background: $title-bar-bg;

  a,
  a:hover {
    color: white;
  }
}

.mini-footer {
  padding-top: 2em;
}

.custom-footer {
  background: $white;

  .custom-logos {
    gap: 2em;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    @include small-screen {
      flex-direction: column;
    }

    img {
      height: 80px;
      width: auto;
    }
  }
}
