@import "./variables";
@import "./mixins";

.section-heading {
  border-bottom: $border-wide;
  text-transform: none;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;

  &::before {
    content: none;
  }
}

.heading1 .page-title {
  @include font-title;
}

.mini-title {
  color: $black;
}
