@import "./variables";

@mixin help-card($color) {
  background-color: $color;

  .card__button {
    &::before,
    &::after {
      background-color: $color;
    }
    &:hover {
      background-color: inherit;
      border: $border-thin;

      &::before,
      &::after {
        background-color: currentColor;
      }
    }
  }
}

.pages-controller .card-grid {
  .card {
    &__title a {
      color: $white;
    }

    color: $white;

    ul li a {
      color: currentColor;
    }

    &__footer,
    &__top {
      margin: 0 1rem;
    }
  }

  .column:nth-child(1n),
  .column:nth-child(2n),
  .column:nth-child(3n) {
    .card {
      @include help-card($dark-teal);
    }
  }
}
