@import "../settings";
@import "mixins";

body {
  background: $body-background-color;
  color: $body-font-color;
  @include font-body;
}

.off-canvas-wrapper {
  background: #dcebe7;
  @include body-background-image;
}

.leaflet-container,
iframe {
  border: $border-thin;
}
