/* Change questions font size in help section  */
.pages-controller {
  .card__content ul li {
    margin-bottom: 1rem;

    a {
      font-size: 1.15rem;
    }

    .card__title {
      margin-bottom: 1rem;
    }
  }

  .tabs-content h2 {
    font-size: 2rem;
  }
}
