@import "fonts";

@mixin body-background-image() {
    background-image: asset-url("degrowth/background.jpg");
    background-size: cover;
}

@mixin link {
    color: $link-color;
    &:hover,
    &:focus {
        color: $link-color-hover;
    }
}

@mixin button {
    border: $border-thin;
    color: $body-font-color;
    background-color: $orange-light;

    &:hover {
        border: $border-thin;
        color: $body-font-color;
        background-color: $orange-lighter;
    }
}

@mixin button-hollow {
    border-color: $link-color;
    color: $link-color;

    &:hover,
    &:focus {
        border-color: $link-color-hover;
        color: $link-color-hover;
    }
}

@mixin small-screen {
    @media print, screen and (max-width: 40em) {
        @content;
    }
}

@mixin mid-screen {
    @media print, screen and (min-width: 40em) and (max-width: 64em) {
        @content;
    }
}

@mixin big-screen {
    @media print, screen and (min-width: 64em) {
        @content;
    }
}
