@import "./variables";

body {
  background: $body-background-color;
  color: $body-font-color;
}

.off-canvas-wrapper {
  background: $body-background-color;
}

.callout.secondary {
  background: lighten($secondary, 20%);
}
