@import "./variables";
@import "./mixins";

.button {
  @include button;

  &--sc:not([title="Search"]):not(.expanded):not(.button--social) {
    @include button;
    @include caret-wrapped($primary);
  }

  &.home-section__cta {
    @include button;
    @include caret-wrapped($primary);

    &:hover {
      @include button-inverted($primary);
      @include caret-wrapped($black);
    }
  }

  &.hero-cta {
    @include button;
    @include caret-wrapped($secondary);

    &:hover {
      @include button-inverted($secondary);
      @include caret-wrapped($black);
    }
  }

  &.card__button.small.button--sc {
    @include button;
    @include caret-wrapped($green);

    &:hover {
      @include button-inverted($green);
      @include caret-wrapped($black);
    }
  }
}

// Non-buttons

.topbar__user__login {
  .sign-in-link,
  .sign-up-link {
    background: $black;
    color: $white;
    padding: 0.5rem;
    text-transform: uppercase;
  }
}
