@import "./variables";
@import "./mixins";

@mixin is-button($color) {
  @include button;

  background-color: $black;
  color: $white;

  &::before,
  &::after {
    background-color: $color;
  }

  &:hover {
    background-color: $color;
    color: $black;

    &::before,
    &::after {
      background-color: $black;
    }
  }
}

@mixin is-button-caret($color) {
  @include is-button($color);
  @include caret-wrapped-absolute($color);

  &:hover {
    @include caret-wrapped-absolute($black);
  }
}

.button {
  @include button;

  &.hollow {
    @include button;

    &:not(.button--icon) {
      @include is-button-caret($primary);
    }
  }

  &.primary {
    @include is-button($primary);
  }
  &.secondary {
    @include is-button($secondary);
  }
  &.card__button {
    @include is-button-caret($green);
  }
}

.input-group-button .button,
.input-group-button .button:hover,
.button.hollow.follow-button {
  &::before,
  &::after {
    content: none;
  }
}
// Non-buttons

.topbar__user__login {
  .sign-in-link,
  .sign-up-link {
    background: $black;
    color: $white;
    padding: 0.5rem;
    text-transform: uppercase;
  }
}
