@import "./variables";
@import "./mixins";

.card {
  border: $border-thin;
  padding: 0;
  border-radius: 0;

  &__title {
    color: $card-link;
    font-weight: bold;
  }

  &-data__item {
    border: none;
  }

  &__footer,
  &__top {
    background: none;
    border-top: $border-wide;
    margin: 0 1.5rem;
  }

  &__support > :only-child {
    margin: auto;
  }

  &__status {
    .card-data {
      border-top: $border-wide;
      margin: 0 1.5em;
    }
  }

  &__icondata + &__icondata {
    border-top: none;
  }

  &__icondata {
    margin: 0 1.5em;
    border: none;
    border-top: $border-wide;

    .card-data {
      border: none;
    }
  }

  &__icondata ul li:not(:first-child),
  &__block ul li:not(:first-child) {
    justify-content: center;
  }

  &--full__image .button.expanded.button--sc {
    @include button-inverted($primary);
    @include caret-wrapped-absolute($black);

    &:hover {
      @include button;
      @include caret-wrapped-absolute($primary);
    }
  }
}

.card-grid .card {
  &__title {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: $border-wide;
    text-align: center;
  }

  //   &__link {
  //     &:hover {
  //       color: $card-link-hover;
  //     }
  //   }

  //   &__label {
  //     &::before {
  //       background-color: inherit;
  //     }
  //   }

  //   &__support {
  //     display: block;
  //     text-align: center;
  //     padding-top: 0;
  //     padding-bottom: 1rem;

  //     &__data--left {
  //       text-align: center;
  //       max-width: none;

  //       & > * {
  //         display: inline;
  //       }
  //     }
  //   }

  //   &__image {
  //     max-height: none;
  //     height: 20rem;
  //   }
}

.card--list .card--list__item:not(:last-child),
.card--list :not(:last-child) .card--list__item {
  border-bottom: $border-thin;
}

.card--stack,
.card--stack::after,
.card--stack::before {
  box-shadow: none;
}

.card--process__column .card--full__image {
  right: 0;
}

.card.muted,
.muted.chart-tooltip,
.muted.conference-registration,
.conference-speaker .muted.speaker-bio,
.muted.add-message,
.muted.comment-thread {
}
