@import "./variables";
@import "./mixins";

@keyframes slider {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.home-section {
  .section-heading {
    border-bottom: $border-thin;
    font-weight: normal;

    a {
      float: right;

      &::before {
        content: "";
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-right: 6px;
        background-color: currentColor;
        clip-path: polygon(50% 65%, 0% 0%, 100% 0%);
        transform: rotate(-90deg) translate(2px);
        position: relative;
        vertical-align: middle;
      }
    }
  }

  &.upcoming-events {
    background: $black;
    color: $white;

    .card {
      margin-bottom: 60px;

      &::after {
        content: url("/assets/triangle.svg");
        display: block;
        position: absolute;
        padding-left: 8rem;
        margin-top: -24px;
        transform: rotate(-3deg);
      }
    }
  }

  &.upcoming-meetings {
    background-color: $body-background-color;
    padding-bottom: 1em;

    .section-heading a {
      color: $green;
    }

    .card__icondata {
      border-top: none;
      border-bottom: $border-wide;
      margin: 0;
      .time {
        margin-left: -3em;
      }
    }

    .card__content {
      padding-top: 0;
    }

    .card__title {
      color: $body-font-color;
      text-align: center;
      border-bottom: none;
      padding-bottom: 0;
      padding-top: 1em;
    }

    .card__image {
      height: 20em;
      max-height: none;
    }
  }

  &.extended.hero {
    width: 90%;
    margin: 4rem auto 0;
  }

  &.highligted-content-banner {
    border-top: 8px solid $white;
    background-color: $black;
    animation: 90s infinite alternate slider;

    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @include small-screen {
      grid-template-columns: 2em 1fr 2em;
    }

    .black-background {
      grid-column: 7 / span 5;

      @include small-screen {
        grid-column: 2;
      }

      background-color: $black;
      color: $white;
      font-size: 0.8rem;
      padding: 1em 2em;

      p {
        margin-bottom: 0.5em;
      }
    }

    .text-highlight {
      text-shadow: 4px 4px 4px $black;
      text-align: center;

      &.heading1 {
        @include font-heading-big;
        margin-bottom: 2rem;
      }
    }

    .button#get-involved {
      font-size: 1.5em;
      @include button;
      @include caret-wrapped-absolute($green, 1em);

      &:hover {
        @include button-inverted($green);
        @include caret-wrapped-absolute($black, 1em);
      }
    }

    &::after {
      content: none;
    }

    &.text {
      background: $body-background-color;
      padding: 2em;

      p {
        color: $body-font-color;
        text-align: center;
        line-height: 1.5em;
        font-weight: bold;
        font-size: 1.25em;
        margin-bottom: 2em;

        @include small-screen {
          font-size: 1em;
        }

        &:first-child {
          font-size: 1.5em;
          margin-bottom: 0;
        }

        &:nth-child(5) {
          font-size: 1.5em;
          margin-bottom: 0;
        }
        &:nth-child(6) {
          color: $green;
          font-size: 2em;
          margin-bottom: 0;
        }
        &:nth-child(7) {
          font-size: 1.5em;
          font-weight: 400;
        }
      }
    }
  }
}
