@import "./variables";
@import "./mixins";

.home-section {
  &.upcoming-events {
    background: $black;
    color: $white;

    .card {
      margin-bottom: 60px;

      &::after {
        content: url("/assets/triangle.svg");
        display: block;
        position: absolute;
        padding-left: 8rem;
        margin-top: -24px;
        transform: rotate(-3deg);
      }
    }
  }

  &.extended.hero {
    width: 90%;
    margin: 4rem auto 0;
  }

  &.highligted-content-banner {
    .text-highlight {
      font-size: 1.2rem;
      text-align: center;

      p {
        margin: 1rem;
        margin-bottom: 2rem;
      }

      &.heading1 {
        margin-bottom: 2rem;
        @include font-heading-big;
      }
    }

    .button {
      background-color: $green;
      padding: 1rem;
      font-size: 1.5rem;
      grid-template-rows: 1fr 1fr;

      &:hover {
        background-color: lighten($green, 20%);
      }

      @include caret-wrapped-absolute($black, 2rem);

      .button__cta,
      .button__info {
        grid-column: 2;
      }
      .button__info {
        grid-row: 2;
      }
    }
    &::after {
      mix-blend-mode: multiply;
      background-color: transparentize($black, 0.8);
    }
  }
}
