@import "./variables";
@import "./mixins";

@keyframes slider {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.home-section {
  &.upcoming-events {
    background: $black;
    color: $white;

    .card {
      margin-bottom: 60px;

      &::after {
        content: url("/assets/triangle.svg");
        display: block;
        position: absolute;
        padding-left: 8rem;
        margin-top: -24px;
        transform: rotate(-3deg);
      }
    }
  }

  &.extended.hero {
    width: 90%;
    margin: 4rem auto 0;
  }

  &.highligted-content-banner {
    background-color: $black;
    animation: 90s infinite alternate slider;

    .black-background {
      background-color: $black;
      color: $white;
      font-size: 0.9rem;
      padding: 2em;
    }

    .text-highlight {
      text-shadow: 4px 4px 4px $black;
      text-align: center;

      &.heading1 {
        @include font-heading-big;
        margin-bottom: 2rem;
      }
    }

    .button#get-involved {
      font-size: 1.5em;
      @include button;
      @include caret-wrapped-absolute($green, 1em);

      &:hover {
        @include button-inverted($green);
        @include caret-wrapped-absolute($black, 1em);
      }
    }

    &::after {
      content: none;
    }

    &.text {
      background: $body-background-color;
      padding: 2em;

      p {
        color: $body-font-color;
        text-align: center;
        line-height: 1.5em;
        font-weight: bold;
        font-size: 1.25em;
        margin-bottom: 2em;

        @include small-screen {
          font-size: 1em;
        }

        &:first-child {
          font-size: 1.5em;
          margin-bottom: 0;
        }

        &:nth-child(5) {
          font-size: 1.5em;
          margin-bottom: 0;
        }
        &:nth-child(6) {
          color: $green;
          font-size: 2em;
          margin-bottom: 0;
        }
        &:nth-child(7) {
          font-size: 1.5em;
          font-weight: 400;
        }
      }
    }
  }
}
