@import "./variables";

@mixin banner-background() {
  background-image: image-url("banner.png");
  background-size: cover;
}

@mixin button {
  background: $black;
  color: $white;
  border-radius: 0;
  font-weight: bold;

  &.hollow {
    border: none;
  }
}

@mixin caret-wrapped($color) {
  &::before,
  &::after {
    content: " ";
    display: inline-block;
    width: $triangle-size;
    height: $triangle-size;
    margin: -3px 0.5rem;
    background-color: $color;
    clip-path: polygon(50% 15%, 100% 100%, 0% 100%);
  }

  &::before {
    transform: rotate(90deg);
  }
  &::after {
    transform: rotate(-90deg);
  }

  &:hover {
    color: lighten($color, 20%);

    &::before,
    &::after {
      background-color: lighten($color, 20%);
    }
  }
}

@mixin bottom-caret($color) {
  &::after {
    content: "";
    display: block;
    width: $triangle-size-bottom;
    height: $triangle-size-bottom;
    margin: -5px auto;
    background-color: $color;
    clip-path: polygon(50% 65%, 0% 0%, 100% 0%);
    transform: rotate(180deg);
    position: relative;
    z-index: 999;
  }
}

@mixin top-caret($color) {
  &::before {
    content: "";
    display: block;
    width: $triangle-size;
    height: $triangle-size;
    margin: auto;
    background-color: $color;
    clip-path: polygon(50% 65%, 0% 0%, 100% 0%);
  }
}

@mixin top-circle($color) {
  &::before {
    content: "";
    display: block;
    width: $triangle-size;
    height: $triangle-size;
    margin: auto;
    background-color: $color;
    clip-path: circle(50%);
  }
}

@mixin slanted($percentage) {
  clip-path: polygon($percentage 0%, 0% 100%, 100% - $percentage 100%, 100% 0%);
}

@mixin heading-font() {
  text-transform: none;
  font-size: 1.5rem;
  font-weight: 900;
}

@mixin title-font() {
  text-transform: uppercase;
}

@mixin font-big-heading {
  @include heading-font;
  font-size: 3rem;
  border-bottom: none;
}

@mixin small-screen {
  @media print, screen and (max-width: 40em) {
    @content;
  }
}

@mixin big-screen {
  @media print, screen and (min-width: 64em) {
    @content;
  }
}
