@import "./variables";

@mixin banner-background() {
  background-image: asset-url("banner.png");
  background-size: cover;
}

@mixin button {
  padding: 0.5rem;
  background: $black;
  color: $white;
  border-radius: 0;
  font-weight: bold;

  &.hollow {
    border: none;
  }

  &.hover,
  &:hover {
    filter: none;
  }
}

@mixin button-inverted($color) {
  @include button;
  color: $black;
  background: $color;
}

@mixin caret-wrapped($color, $size: $triangle-size) {
  &::before,
  &::after {
    content: " ";
    transition: all ease-in-out 300ms;
    display: inline-block;
    width: $size;
    height: $size;
    margin: -3px 0.5rem;
    background-color: $color;
    clip-path: polygon(50% 15%, 100% 100%, 0% 100%);
  }

  &::before {
    transform: rotate(90deg);
  }
  &::after {
    transform: rotate(-90deg);
  }

  &:hover {
    color: lighten($color, 20%);

    &::before,
    &::after {
      background-color: lighten($color, 20%);
    }
  }
}

@mixin caret-wrapped-absolute($color, $size: $triangle-size) {
  @include caret-wrapped($color, $size);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: ($size * 2) 1fr ($size * 2);

  &::before,
  &::after {
    display: block;
    margin: auto;
    grid-row: span 2;
  }
  &::before {
    grid-column: 1;
  }
  &::after {
    grid-column: 3;
  }
}

@mixin bottom-caret($color) {
  &::after {
    content: "";
    display: block;
    width: $triangle-size-bottom;
    height: $triangle-size-bottom;
    margin: -5px auto;
    background-color: $color;
    clip-path: polygon(50% 65%, 0% 0%, 100% 0%);
    transform: rotate(180deg);
    position: relative;
    z-index: 999;
  }
}

@mixin top-caret($color) {
  &::before {
    content: "";
    display: block;
    width: $triangle-size;
    height: $triangle-size;
    margin: auto;
    background-color: $color;
    clip-path: polygon(50% 65%, 0% 0%, 100% 0%);
  }
}

@mixin top-circle($color) {
  &::before {
    content: "";
    display: block;
    width: $triangle-size;
    height: $triangle-size;
    margin: auto;
    background-color: $color;
    clip-path: circle(50%);
  }
}

@mixin slanted($percentage) {
  clip-path: polygon($percentage 0%, 0% 100%, 100% - $percentage 100%, 100% 0%);
}

@mixin small-screen {
  @media print, screen and (max-width: 40em) {
    @content;
  }
}

@mixin big-screen {
  @media print, screen and (min-width: 64em) {
    @content;
  }
}
