@import "./variables";
@import "./mixins";

.title-bar {
  padding: 1.5rem 0.5rem;
  background: $title-bar-bg;
  @include banner-background;
}

.navbar {
  background: $navbar-bg;
  @include font-heading;

  .main-nav {
    @include big-screen {
      height: 60px;
    }

    &__link {
      text-align: center;

      a {
        color: $navbar-fg;
        padding: 0.5em 1em;
      }
      &--active a {
        background: none;
        color: $navbar-fg;
        box-shadow: none;
        @include bottom-caret($primary);
      }
    }
  }
}

.topbar {
  &__search {
    input,
    input:focus {
      background-color: $navbar-bg;
      color: $navbar-fg-hover;
    }
    input::placeholder,
    textarea::placeholder {
      color: $navbar-fg-hover;
    }
    svg {
      color: $navbar-fg-hover;
    }
  }

  &__notifications,
  &__conversations {
    .icon {
      opacity: 0.8;
    }
  }

  .dropdown.menu {
    background: black;
    padding: 0.25rem 1rem;
    margin: 0 1rem;

    @include small-screen {
      padding: 0 1em;
    }
  }

  &__user__login a::before {
    content: none;
  }
}

.usermenu-off-canvas-holder {
  background: $primary;

  .topbar__user__login {
    margin-top: 0;
  }
}
