@import "./variables";

@mixin help-card($color) {
  background-color: $color;

  .card__button {
    &:hover {
      background-color: inherit;
      border: $border-thin;
    }
    &::before,
    &::after {
      background-color: $color;
    }
  }
}

.pages-controller {
  .card {
    &__title a {
      color: $body-font-color;
    }

    color: $white;

    ul li a {
      color: currentColor;
    }

    &__footer,
    &__top {
      margin: 0 1rem;
    }
  }

  .column:nth-child(1n) .card {
    @include help-card($blue);
  }
  .column:nth-child(2n) .card {
    @include help-card($green);
  }
  .column:nth-child(3n) .card {
    @include help-card($purple);
  }
}
