@import "./variables";
@import "./mixins";

.process-nav {
  box-shadow: inset 0 (-$border-thin-width) 0 0 $black;

  &__content {
    li {
      a {
        color: $black;
        font-size: 1.25rem;
        font-weight: 400;
        text-transform: none;
      }

      &.is-active {
        box-shadow: none;
        a {
          font-weight: bold;
        }
      }
    }
  }
}
