<section class="extended highligted-content-banner home-section"
          style="background-image:url(<%= asset_path "slider.jpg" %>);">
    <div class="black-background">
      <span>
        <%= decidim_sanitize translated_attribute current_organization.highlighted_content_banner_short_description %>
      </span>
    </div>
  </div>
</section>
