<section class="wrapper-home latest-blog-posts home-section">
  <div class="row">
    <h3 class="section-heading"><%= t("decidim.content_blocks.latest_blog_posts.title") %></h3>
    <div class="posts">
      <% posts.each do |post| %>
        <%= cell "decidim/blogs/post", post %>
      <% end %>
    </div>
  </div>
</section>
